{{#ember-markdown-section}}
### Sorting the options list
You can sort the options list by passing a single property or a comma separated list of properties to `sortBy`. You can also use the `:desc` qualifier for reversed sort order, similar to [Ember.computed.sort](http://emberjs.com/api/classes/Ember.computed.html#method_sort).
{{/ember-markdown-section}}

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="sorted.hbs"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET sorted --}}
    {{ted-select
      selectClassNames="form-control"
      content=TEDevents
      sortBy="title"
    }}
    {{!-- END-SNIPPET --}}
  </div>
</div>