<h3>Disabled input</h3>
<p>You can disable the entire input by passing in a boolean value to <code>disabled</code>.</p>

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="disabled-input.hbs"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET disabled-input --}}
    {{ted-select
      content=TEDevents
      selectClassNames="form-control"
      disabled=true
    }}
    {{!-- END-SNIPPET --}}
  </div>
</div>