<h3 id="styling-amp-customization">Styling &amp; customization</h3>
<p><code>ember-ted-select</code> will use only browser-default styles. Customization is completely up to you.</p>
<p>For convenience, the class name on the select element itself can be changed using the <code>selectClassNames</code> option. This is helpful for applying framework styles, like <a href="http://getbootstrap.com/css/#forms">Bootstrap's <code>.form-control</code> class</a>, shown here and in the following examples.</p>
<p>You can also customize the select element's ID using the <code>selectId</code> option.</p>
<p>You can customize the prompt text with <code>prompt="your custom string"</code> or remove it completely with <code>prompt=null</code>.</p>

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="styled.hbs"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET styled --}}
     {{ted-select
      selectClassNames="form-control"
      selectId="ted-events-select"
      prompt="Choose an event"
      content=TEDevents }}
    {{!-- END-SNIPPET --}}
  </div>
</div>
