<h3>Named input</h3>
<p>You can set the name attribute on the input by passing in a string value to <code>name</code>.</p>

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="named-input.hbs"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET named-input --}}
    {{ted-select
      content=TEDevents
      selectClassNames="form-control"
      name="awesome-ted-select"
    }}
    {{!-- END-SNIPPET --}}
  </div>
</div>
