<h3 id="two-way-bound">
  Two-way bound
</h3>

{{markdown-to-html "Data down, actions up is recommended, but if you would like to two-way bind the select value to an external property, you can do so using the [`mut` helper](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_mut) instead of an `onchange` action." }}

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="two-way.hbs"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET two-way --}}
    {{ted-select
      content=TEDevents
      selectClassNames="form-control"
      optionLabelKey="title"
      optionValueKey="id"
      selected=selectedOption
      onchange=(action (mut selectedOption))
    }}
    {{!-- END-SNIPPET --}}
    Selected: {{selectedOption.title}}
  </div>
</div>