{{#ember-markdown-section}}
### Two-way bound

Data-down, actions up is recommended, but if you would like to two-way bind the select value to an external property, you can pass that property into the `on-change` action using the [`mut` helper](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_mut).
{{/ember-markdown-section}}

<div class="row">
  <div class="col-md-6">
    {{code-snippet name="two-way.hbs"}}
  </div>

  <div class="col-md-6">
    {{!-- BEGIN-SNIPPET two-way --}}
    {{ted-select
      content=TEDevents
      selectClassNames="form-control"
      optionLabelKey="title"
      optionValueKey="id"
      selected=selectedOption
      on-change=(action (mut selectedOption))
    }}
    {{!-- END-SNIPPET --}}
    Selected: {{selectedOption.title}}
  </div>
</div>